.action-button {
  margin-top: 1rem;
  border: 2px solid #158ab7;
  text-align: center;
  width: 80%;
  place-self: flex-start flex-start;
  font-family: OmnesBold, sans-serif;
  border-radius: 40px;
  margin-bottom: 0.5rem;
  box-shadow: 0 0 4px #111a;
  padding: 0.6rem 1.5rem;
  background-color: #fff;
  color: #034;
  font-size: 1.1rem;
}

.action-button:hover,
.action-button:focus,
.action-button:active {
  background-color: #111;
  color: #fff;
  border: 2px solid #fff;
  transform: scale(1.1);
  transition: 0.3 ease-in;
  cursor: pointer;
}

@media screen and (width <= 420px) {
  .action-button {
    width: 100%;
    font-size: 0.9rem;
  }
}
