.input-container {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  align-items: center;
  background-color: #00c2e8;
  border-radius: 10px;
}

.input-container label {
  font-family: OmnesMedium, sans-serif;
  align-self: flex-start;
  text-align: left;
  padding: 0;
  margin: 0;
  cursor: pointer;
  font-size: 1.2rem;
  color: #034;
  max-width: 250px;
}

.input-box {
  background-color: #fff;
  max-width: 250px;
  width: 50vw;
  height: 2.2rem;
  border-radius: 10px;
  outline: none;
  border: 2px solid #159cc4;
  box-shadow: 0 0 5px #111;
  padding: 5px;
  color: #111;
  color-scheme: light;
  font-family: OmnesMedium, sans-serif;
  padding-left: 1rem;
  font-size: 1rem;
  transition: 0.2s;
}

.input-box:hover,
.input-box:focus,
.input-box:focus-visible,
.input-box:active {
  transform: scale(1.05);
  transition: 0.2s;
  border: 2px solid #00c2e8;
}

.invalid {
  border: 2px solid #f00 !important;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

@media screen and (width <= 475px) {
  .input-container {
    width: 70vw;
  }

  .input-box {
    width: 70vw;
    max-width: 100vw;
  }
}
