.result-container {
  display: flex;
  flex-direction: row;
  width: 90%;
  justify-content: space-between;
  padding-bottom: 0;
  font-family: OmnesRegular, sans-serif;
  font-size: 1.2rem;
  padding-inline: 1rem;
}

.total-fee {
  padding-top: 1rem;
  font-size: 1.5rem;
}
